# Project-specific
.gradle/
build/
/local.properties
/.idea/
.DS_Store

# Android-specific
*.iml
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
*.hprof
*.pyc

# Signing files
*.jks
*.keystore
*.p12
google-services.json

# Built variants
*.apk
*.ap_
*.aab

# Unit test reports
*/build/reports/tests/
*/build/test-results/

# Lint reports
*/build/reports/lint-results.xml
*/build/reports/lint-results-release.xml
*/build/reports/lint-results-debug.xml

# Module-specific build directories
app/build/
